# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.venv*

# Jupyter notebook
.ipynb_checkpoints/

# Excel temp files
~$*

# log files
output/log/*

# CIBUSmod output files
*.sqlite
